<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div id="love">
    <h1>haha</h1>
    <img src="/pic/zxc.png" width='300px' height='300px'>
</div>

<script src="https://cdn.bootcss.com/html2canvas/0.5.0-beta4/html2canvas.js"></script>
<!--<script>-->
    <!--window.onload = function() {-->
        <!--html2canvas(document.getElementById("myDiagramDiv"), {-->
            <!--allowTaint: true,-->
            <!--useCORS: true,-->
        <!--}).then(canvas => {-->
            <!--document.body.appendChild(canvas)-->
        <!--});-->
    <!--}-->
<!--</script>-->
</body>
</html>